<footer class="footer section">
    <div class="container container--fluid">
        <div class="flex-row">
            <div class="footer_data">
                <a href="" class="footer_data_logo">
                    <img src="./assets/images/footer/logo.svg" alt="logo" width="200" height="67" loading="lazy">
                </a>
                <a href="tel:+73833752480" class="footer_data_tel">+7(383)3752480</a>
                <div class="footer_social">
                    <a href=""><img src="./assets/images/footer/Telegram.svg" width="25" height="25" alt="Telegram"></a>
                    <a href=""><img src="./assets/images/footer/VK.svg" alt="VK" width="25" height="25"></a>
                </div>
            </div>
            <div class="footer_menu">
                <ul class="footer_menu_row list-reset">
                    <li><a href="">Сведения об образовательной организации</a></li>
                    <li><a href="">Благотворительные фонды</a></li>
                </ul>
                <div class="footer_menu_row">
                    <div class="footer_menu_row_item">
                        <span>
                            График работы: <br>
                            с 9:00до 20:00 <br>
                            ежедневно
                        </span>
                    </div>
                    <ul class="footer_menu_row_item list-reset">
                        <li><a href="">О нас</a></li>
                        <li><a href="">Направления</a></li>
                        <li><a href="">Спецалисты</a></li>
                    </ul>
                    <ul class="footer_menu_row_item list-reset">
                        <li><a href="">Методы</a></li>
                        <li><a href="">Диагностика</a></li>
                        <li><a href="">Консультации</a></li>
                    </ul>
                    <ul class="footer_menu_row_item list-reset">
                        <li><a href="">Стоимость</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Родителям</a></li>
                    </ul>
                    <ul class="footer_menu_row_item mobile list-reset">
                        <li><a href="">О нас</a></li>
                        <li><a href="">Направления</a></li>
                        <li><a href="">Спецалисты</a></li>
                        <li><a href="">Методы</a></li>
                        <li><a href="">Диагностика</a></li>
                    </ul>
                    <ul class="footer_menu_row_item mobile list-reset">
                        <li><a href="">Консультации</a></li>
                        <li><a href="">Стоимость</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Родителям</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_mobile_data">
            <div class="footer_mobile_data_item">
                <span>
                    График работы: <br>
                    с 9:00до 20:00 ежедневно
                </span>
            </div>
            <div class="footer_mobile_social">
                <a href=""><img src="./assets/images/footer/Telegram.svg" width="25" height="25" alt="Telegram"></a>
                <a href=""><img src="./assets/images/footer/VK.svg" alt="VK" width="25" height="25"></a>
            </div>
        </div>
    </div>
</footer>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modal = document.querySelector('.modal');
        const openModalBtn = document.querySelectorAll('.modal_open');
        const closeModalBtn = document.querySelector('.modal_close');
        const form = document.querySelector('.question_item_form');

        function addClass(button){
            if(button.classList.contains('--green')){
                modal.querySelector('.grid-row').classList.add('--green');
            }
        }
        
        function removeClass(){
            modal.querySelector('.grid-row').classList.contains('--green') ?
            modal.querySelector('.grid-row').classList.remove('--green') : '';
        }

        // Открытие модального окна
        openModalBtn.forEach(element => {
            element.addEventListener('click', (event) => {
                event.preventDefault();
                addClass(element);
                modal.classList.add('show');
            });
        });

        // Закрытие модального окна
        closeModalBtn.addEventListener('click', () => {
            modal.classList.remove('show');
            removeClass();
        });

        // Закрытие модального окна при клике вне его содержимого
        window.addEventListener('click', (event) => {
            if (event.target === modal) {
                modal.classList.remove('show');
                removeClass();
            }
        });
        const body = document.body;
        const inner = document.querySelector('.container'); // или другой элемент, в котором нужно вычислить ширину
        const scrollBarWidth = window.innerWidth - body.clientWidth;
        document.documentElement.style.setProperty('--scrollbar-width', `${scrollBarWidth}px`);
    });
    document.addEventListener('DOMContentLoaded', function () {
        if(window.innerWidth < 1000){
            const header = document.querySelector('.header');
            const scrollThreshold = 100; // Задаем порог, ниже которого класс убирается
    
            window.addEventListener('scroll', function () {
                let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
    
                if (currentScroll > scrollThreshold) {
                    header.classList.add('active');
                     this.document.body.style.paddingTop = '180px';
                } else {
                    header.classList.remove('active');
                    this.document.body.style.paddingTop = '0px';
                }
            });
        }
    });

</script>