<section class="question section consultation">
    <div class="container">
        <div class="grid-row">
            <div class="question_item">
                <img src="./assets/images/consultation/hand-with-telephone.svg" alt="hand-with-call" width="490" height="417" loading="lazy">
            </div>
            <div class="question_item">
                <h2 class="consultation_title --white">ПРИЁМ ВЕДЁТСЯ <br> ПО ПРЕДВАРИТЕЛЬНОЙ ЗАПИСИ <br> У АДМИНИСТРАТОРОВ <br> ЦЕНТРА!</h2>
                <a href="" class="project_link --white">Заказать обратный звонок</a>
                <a href="" class="project_link --border">Записаться на консультацию</a>
            </div>
        </div>
        <a href="" class="project_link swiper_slide_mobile --accent">Заказать обратный звонок</a>
        <a href="" class="project_link swiper_slide_mobile --border">Записаться на консультацию</a>
    </div>
</section>