<div class="question modal">
    <div class="container">
        <div class="grid-row">
            <div class="question_item">
                <img src="./assets/images/question/smartphone-with-call.svg" alt="smartphone-with-call" width="633" height="633" loading="lazy">
            </div>
            <div class="question_item">
                <form action="">
                        <div class="question_item_form">
                            <label for="">
                                Имя:
                                <input type="text" class="project_input">
                            </label>
                            <label for="">
                                Номер телефона:
                                <input type="tel" class="project_input" >
                            </label>
                            <label for="">
                                Комментарий:
                                <textarea class="project_textarea"></textarea>
                            </label>
                            <input type="submit" value="Отправить" class="project_submit">
                        </div>
                    </form>
            </div>
            <span class="modal_close">&times;</span>
        </div>
    </div>
</div>