<section class="photo section">
    <div class="container">
        <h2 class="project_title">МЫ В ФОТО</h2>
    </div>
    <div class="swiper_container">
        <div class="swiper swiper-hero swiper-photo">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="./assets/images/photo/image3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./assets/images/photo/image4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./assets/images/photo/image3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./assets/images/photo/image4.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./assets/images/photo/image3.png" alt="">
                </div>
                <div class="swiper-slide">
                    <img src="./assets/images/photo/image4.png" alt="">
                </div>

            </div>
            <!-- <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div> -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="container">
        <a href="" class="project_link --accent">Посмотреть больше фото и видео о нас</a>
    </div>
</section>