<section class="question section">
    <div class="container">
        <div class="grid-row --accent">
            <div class="question_item">
                <img src="./assets/images/question/smartphone-with-call.svg" alt="smartphone-with-call" width="633" height="633" loading="lazy">
            </div>
            <div class="question_item">
                <h2 class="project_title-main --white">ХОТИТЕ ЗАДАТЬ ВОПРОС?</h2>
                <p>Свяжитесь с нами, чтобы получить консультацию или записаться к специалисту</p>
                <a href="" class="project_link --white modal_open --green">Заказать обратный звонок</a>
            </div>
        </div>
        <a href="" class="project_link swiper_slide_mobile --accent modal_open">Заказать обратный звонок</a>
    </div>
</section>