<section class="section why">
    <div class="container">
        <div class="why_inner" style="background-image: url(./assets/images/why/Layer1.svg);">
            <h2 class="project_title-main --accent">ПОЧЕМУ «КРУГОЗОР»?</h2>
            <ul class="list-reset why_inner_list">
                <li>
                    <img src="./assets/images/why/check.svg" alt="check" width="40" height="40">
                    17 лет работы
                </li>
                <li>
                    <img src="./assets/images/why/check.svg" alt="check" width="40" height="40">
                    Современные методы диагностики
                </li>
                <li>
                    <img src="./assets/images/why/check.svg" alt="check" width="40" height="40">
                    56 высококвалифицированных специалистов
                </li>
                <li>
                    <img src="./assets/images/why/check.svg" alt="check" width="40" height="40">
                    Команда опытных медиков с многолетним стажем
                </li>
                <li>
                    <img src="./assets/images/why/check.svg" alt="check" width="40" height="40">
                    18 методик, используемых в работе
                </li>
                <li>
                    <img src="./assets/images/why/check.svg" alt="check" width="40" height="40">
                    Передовые мировые практики
                </li>
            </ul>
        </div>
    </div>
</section>