.terapevt {


    & .active.accordion-header svg {
        transform: rotate(0);
    }

    & .accordion-header svg {
        display: none;
        transform: rotate(-90deg);
        transition: transform 0.3s linear;
    }

    @include mobile {
        & .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s linear;
        }

        & .accordion-content.open {
            max-height: 10000px;
            /* Максимальная высота на ваше усмотрение */
        }

        & .accordion-header {
            cursor: pointer;
            align-items: flex-start;

            & svg {
                display: block;
            }
        }
    }

    & .specialist_item {
        background: #0065b2;
        border-radius: 80px 30px 30px 30px;

        display: flex;
        flex-direction: column;
        padding-bottom: 16px;

        @include mobile {
            position: relative;
            margin-bottom: 51px;
        }

        & .img-wrap {
            border-radius: 80px 30px 0 0;
            margin-bottom: 7px;
            overflow: hidden;
            width: 100%;

            & img {
                width: 100%;

                // @include mobile{
                //     max-height: ;
                // }
            }
        }
    }

    & .specialist_item_title {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: clamp(14px, 3vw, 16px);
        letter-spacing: 0.17em;
        text-align: center;
        color: #fff;
        margin-bottom: 5px;
    }

    & .specialist_item_title,
    & .specialist_item_prof,
    & .specialist_item_exp {
        padding-right: 20px;
        padding-left: 20px;

        @include small-mobile {
            padding-left: 10px;
            padding-right: 10px;
        }
    }


    & .specialist_item_prof {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: clamp(12px, 3vw, 16px);
        letter-spacing: 0.17em;
        text-align: center;
        color: #fff;
        margin-bottom: 30px;
    }

    & .specialist_item_exp {
        font-weight: 700;
        font-size: clamp(12px, 3vw, 16px);
        letter-spacing: 0.08em;
        text-align: center;
        color: #fff;
        margin-bottom: 17px;
        flex-grow: 1;
    }

    & .project_link {
        text-transform: capitalize;
        max-width: max-content;
        margin-left: auto;
        margin-right: auto;

        @include mobile {
            padding: 17px 0;
            position: absolute;
            top: calc(100% + 8px);
            max-width: unset;
            left: 0;
            right: 0;
            z-index: 1;
            border-radius: 35px;
            background: var(--darkblue-color);
            font-weight: 800;
            font-size: 14px;
            line-height: 46%;
            letter-spacing: 0.11em;
            text-align: center;
            color: #fff;
        }
    }

    & .accordion-content {
        margin-top: 55px;

        @include small-tablet {
            margin-top: 35px;
        }

        &.grid-row {
            grid-template-columns: repeat(5, 1fr);
            gap: 11px;

            // padding-bottom: 80px;
            @media (max-width:1250px) {
                grid-template-columns: repeat(4, 1fr);
            }

            @media (max-width:1050px) {
                grid-template-columns: repeat(3, 1fr);
            }

            @include small-tablet {
                grid-template-columns: repeat(2, 1fr);
            }

            @include mobile {
                // grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
                gap: 20px;
                // row-gap: 35px;
            }

            & .specialist_item {
                //     flex: 1 0 calc(20% - 11px);
                //     max-width: 260px;
            }

        }
    }

    & .terapevt_inner.accordion-content {
        & dl {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #e9e9e9;
            padding-bottom: 20px;

            &:not(:first-child) {
                margin-top: 20px;
            }

            & dt {
                font-weight: 400;
                font-size: 24px;
                letter-spacing: 0.03em;
                color: #000;

                @include small-tablet {
                    font-size: 16px;
                }
            }

            & dd {
                font-weight: 800;
                font-size: 24px;
                letter-spacing: 0.03em;
                text-align: right;
                color: #0065b2;

                @include small-tablet {
                    font-size: 16px;
                }
            }
        }
    }

    & .methods_title {
        font-weight: 600;
        border-width: 2px;
    }

    & .accordion-header {
        &:not(:first-child) {
            margin-top: 50px;
        }
    }
}